<!DOCTYPE html>
<html lang="en">

<head>
    <% include bloque/head.html%>
</head>

<body>




    <% include bloque/nav.html%>



        <ul>
            <% for (let i = 0; i<max ; i++){ %>
                <li>
                    <%= i %>
                </li>
                <%}%>
        </ul>
</body>

</html>