<!DOCTYPE html>
<html lang="en">

<head>
    <% include bloque/head.html%>
</head>

<body>
    <% include bloque/nav.html%>


        <button class="button " id="getButton">Get Data</button>
        <button class="button " id="postButton">Post Data</button>


        <h1>
            <div id="username">loading . . . </div>
        </h1>
        <p>saludos mundo</p>
        <label id="label1">hola munod</label>
        <input type="text" id="respuesta">


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/prueba.js"></script>
</body>

</html>